@import "../bootstrap/less/bootstrap.less";
@import "variables.less";

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.ajax-loading {
    width: 100px;
    height: 100px;
    background: #ccc;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: -50px 0 0 -50px;
    display: none;
    visibility: hidden;
}

.modal-msg {
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -30px 0 0 -130px;
    font-size: 140%;
}

form .errors {
    color: #a94442;
    list-style-type: none;
    padding: 0;
    margin: 5px 0 0 0;
}

form .errors > li {
    margin: 0 0 5px 0;
    padding: 0;
}

form .errors > li:last-of-type {
    margin-bottom: 0;
}

.bs-callout {
    margin: (@padding-large-vertical * 2) 0;
    padding: (@padding-large-vertical * 2);
    .border-top-radius(@border-radius-small);
    .border-bottom-radius(@border-radius-small);
    border-width: 1px 1px 1px 5px;
    border-color: @gray-lighter;
    border-style: solid;

    h4 {
        margin-top: 0;
        margin-bottom: @padding-small-vertical;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.bs-callout-danger {
    border-left-color: @brand-danger;

    h4 {
        color: @brand-danger;
    }
}

.bs-callout.bs-callout-bg {
    background: @navbar-default-bg;
}

.general-log {
    /* column width */
    .thread-id {
        width: 95px;
    }

    .command-type {
        width: 140px;
    }

    .event-time {
        width: 130px;
    }

    .server-id {
        width: 100px;
    }

    .user-host {
        width: 100px;
    }

    .grid {
        thead th {
            white-space: nowrap;
            text-align: center;
        }

        .another-thread {
            background: @state-info-bg;
            text-align: center;
            font-size: @font-size-small;
        }

        .thread-id,
        .command-type,
        .server-id {
            text-align: center;
        }

        .event-time {
            .date {
                color: @gray-light;
            }

            .time {
                display: block;
                text-align: right;
                margin-bottom: @padding-small-vertical;
            }
        }
    }

    .grid-filter {
        .form-control {
            padding-left: (@padding-small-horizontal / 2);
            padding-right: (@padding-small-horizontal / 2);
        }

        .sort-by {
            width: auto;
            display: inline-block;
        }

        .submit-row {
            background: @table-bg-accent;
            text-align: right;
        }
    }
}